<div class="col-xs-5">
    <div class="panel panel-default  panel-xs shadow" style="height: 85vh">
        <div class="panel-body">
            <div class="cms">

                <form class="cms-form form-horizontal">
                    <div cms-form-path="address.name"
                         type="Customer" cms-class="col-xs-6" model="data.customer.address"></div>

                    <div cms-form-path="note"
                         type="Customer" cms-class="col-xs-6" model="data.customer"></div>

                    <div cms-form-path="name"
                         type="Customer" cms-class="col-xs-6" model="data.customer"></div>

                    <div cms-form-path="phone"
                         type="Customer" cms-class="col-xs-6" model="data.customer"></div>

                    <div cms-form-path="address.streetObj"
                         type="Customer" cms-class="col-xs-6" model="data.customer.address"></div>

                    <div cms-form-path="address.houseNumber"
                         type="Customer" cms-class="col-xs-6" model="data.customer.address"></div>

                    <div class="clearfix"></div>

                    <div cms-form-path="address.street"
                         type="Customer" cms-class="col-xs-6" model="data.customer.address"></div>

                    <div cms-form-path="address.floor"
                         type="Customer" cms-class="col-xs-6" model="data.customer.address"></div>

                    <div cms-form-path="address.zipcode"
                         type="Customer" cms-class="col-xs-6" model="data.customer.address"></div>

                    <div cms-form-path="address.city"
                         type="Customer" cms-class="col-xs-6" model="data.customer.address"></div>

                    <div class="clearfix"></div>

                    <div cms-form-path="fromInternet" style="margin-left: 15px;"
                         type="Customer" cms-class="col-xs-4" model="data.customer"></div>

                    <div class="clearfix"></div>

                    <div cms-form-path="showUstId" style="margin-left: 15px;"
                         type="Customer" cms-class="col-xs-6" model="data.customer"></div>

                    <!--<div class="clearfix"></div>

                    <div cms-form-path="fromInternet" style="margin-left: 15px;"
                         type="Customer" cms-class="col-xs-4" model="data.customer"></div>-->

                    <div class="clearfix"></div>
                    <div class="col-xs-12">
                        <button class="cms-btn btn-outline btn btn-default btn-sm" ng-click="saveCustomer()">Speichern
                        </button>
                        <button class="cms-btn btn-outline btn btn-sm btn-danger" ng-click="clear()">Leeren</button>
                    </div>

                </form>

                <div class="clearfix"></div>
                <br>
                <hr>
                <br>

                <form class="cms-form form-horizontal">
                    <div cms-form-path="customer"
                         type="Export" cms-class="col-xs-12"
                         model="data.export"></div>
                </form>

                <div class="clearfix"></div>

                <form class="cms-form form-horizontal">
                    <div cms-form-path="discount"
                         type="Export" cms-class="col-xs-12"
                         model="data.export"></div>
                </form>

                <br>
                <hr>
                <br>


                <div class="col-xs-12">
                    <div style="font-size: 20px;color: cornflowerblue">{{ data.phone }}</div>

                    <div class="btn-group btn-group-xs" ng-repeat="customer in data.waitCustomers">
                        <button type="button" class="btn btn-white" ng-click="_setCustomer(customer,$index)">{{
                            customer.phone }}
                        </button>
                        <button type="button" class="btn btn-white" ng-click="data.waitCustomers.splice($index, 1);"><i
                                class="fa fa-trash-o"></i></button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="col-xs-7">
    <div id="left-panel" class="panel panel-default  panel-xs shadow" style="height: 85vh;overflow-y: auto">
        <div class="panel-body">
            <div class="cms">
                <form class="cms-form form-horizontal">
                    <div cms-form-path="item"
                         type="Export" class="" model="data.export"></div>
                </form>
            </div>

            <div>
                <span class="pull-left text-violet" style="margin-top: 13px;"
                      ng-show="data.sum">Summe: {{ data.sum }}</span>
                <span class="pull-left text-violet" style="margin-top: 13px;" ng-show="data.export.shippingCost">Anfahrtskosten: {{ data.export.shippingCost.toFixed(2) }} Euro</span>
                <div style="padding-top: 10px;margin-right: 17px;" class="pull-right">
                    <button class="cms-btn btn-outline btn btn-sm btn-danger" ng-click="order()">Bestellen</button>
                    <button class="cms-btn btn-outline btn btn-sm btn-danger" ng-click="clear()">Leeren</button>
                </div>
            </div>
            <div class="clearfix"></div>
            <div style="width: 100%;height: 100px;">
            </div>
        </div>
    </div>
</div>

