<div>
    <button class="cms-btn btn-outline btn btn-success btn-xs" ng-click="importFoods()">Import Foods</button>
    <button class="cms-btn btn-outline btn btn-success btn-xs" ng-click="importAuftrag()">Import Auftrags</button>
    <button class="cms-btn btn-outline btn btn-success btn-xs" ng-click="exportAuftrag()">Speichern</button>
</div>

<form class="cms-form form-horizontal">
    <div cms-form-path="date" extend="{templateOptions:{type:'date'}}"
         type="Export" cms-class="col-xs-6" model="data"></div>

    <div class="form-group col-xs-6">
        <label class="control-label">Targetsumsatz</label>
        <input type="number" class="form-control" ng-model="data.total">
    </div>

    <div class="col-xs-12">
        <input placeholder="Rechnung Nr" class="form-control" ng-model="data.nrs">
    </div>

</form>

<div class="clearfix"></div>
<br>

<div class="col-xs-12">

    <span class="text-violet">Summe: {{ data.sum | currency}} Euro
        <span ng-show="data.modifiedSum">
            -> {{data.modifiedSum | currency}}
        </span>
    </span>

    <button class="btn btn-white btn-xs" ng-click="reduce()">Reduce</button>

    <button class="btn btn-white btn-xs" ng-click="data._showDetail = !data._showDetail" style="margin-left: 5px;">Show Detail</button>

    <button class="btn btn-white btn-xs" ng-click="showAll()" style="margin-left: 5px;">Show All</button>

    <span class="label label-success label-xs" ng-show="saved">Speichern erfolgreich</span>

    <br><br>

    <div ng-repeat="element in data.list | filter: filterFn"
         ng-class="elementClass">
        <div class="panel panel-default panel-xs shadow" style="margin-bottom: 10px;">
            <div class="panel-body" style="padding: 5px;" ng-class="{'bg-info': false}">
        <span class="text-primary" style="font-weight: bold" ng-click="">
            {{element.Nr}} ({{element.Id}})<span style="font-weight: normal">&nbsp;&nbsp;{{element.date | date:'HH:mm'}}</span>
        </span>
                <button class="btn btn-white btn-xs" ng-click="_show = !_show" style="margin-left: 10px;">Detail</button>

                <span class="label label-danger pull-right" style="margin-right: 10px;cursor: pointer;" ng-click="data.list.splice($index,1); delete(element)">Löschen</span>
                <span class="label label-primary pull-right" style="margin-right: 10px;display: none" ng-click="printQuitung()">Rechnung ausdrücken</span>
                <span class="label label-primary pull-right" style="margin-right: 5px;display: none;">{{element.date | date:'dd-MM HH:mm'}}</span>
                <span class="label label-success pull-right" style="margin-right: 5px;">{{ element.status }}</span>
                <span class="label label-success pull-right" style="margin-right: 5px;">{{element.sumBrutto | currency}} Euro
                    <span ng-show="element.modifiedSumBrutto">
                        -> {{element.modifiedSumBrutto | currency}}
                    </span>
                </span>
                <span class="label label-danger pull-right" style="margin-right: 5px;" ng-show="element.showUstId">Bewirtung</span>

                <div ng-if="_show || data._showDetail">
                    <hr >

                    <form class="cms-form form-horizontal">
                        <div ng-repeat="item in element.item">
                            <div class="row" style="margin-top: 10px;">
                                <div class="col-xs-6" style="padding-top: 6px;">
                                    <span class="text-violet" style="background-color: transparent;color: #555" ng-style="{'text-decoration':item.modifiedQuantity === 0 ? 'line-through': 'none', 'font-style': (item.modifiedQuantity !== item.quantity && item.modifiedQuantity !== undefined)?'italic':'inherit'}">
                                        {{item.food.name}} ({{item.price | currency}})
                                    </span>
                                </div>
                                <div class="col-xs-2">
                                    <input class="form-control" type="number" ng-model="item.quantity">
                                </div>
                                <div class="col-xs-2">
                                    <input class="form-control" type="text"  ng-model="item.modifiedQuantity">
                                </div>
                                <div class="col-xs-2">
                                    <button class="btn btn-white btn-sm" ng-click="element.item.splice($index, 1)">Löschen</button>
                                </div>
                            </div>
                        </div>

                    </form>

                    <br>

                    <button class="cms-btn btn-outline btn btn-success btn-xs" ng-click="save(element)">Speichern</button>
                </div>

            </div>
        </div>
    </div>
</div>
