<form class="cms-form form-horizontal">
    <div cms-form-path="date" extend="{templateOptions:{type:'date'}}"
         type="Export" cms-class="col-xs-12" model="data"></div>
</form>

<div class="clearfix"></div>

<div class="col-xs-12">

    <span class="text-violet">Summe: {{ data.sum | currency }} Euro</span>

    <button class="btn btn-white btn-xs" ng-click="print(data.date)">Kassenbericht ausdrücken</button>

    <button class="btn btn-white btn-xs pull-right" style="margin-right: 5px" ng-click="data.login = false" ng-show="data.login">Logout</button>
    <button class="btn btn-white btn-xs pull-right" style="margin-right: 5px" ng-click="data.showAll = !data.showAll" >Alles Anzeigen</button>
    <button class="btn btn-white btn-xs pull-right" style="margin-right: 5px" ng-click="gdpdu()" >GDPDU</button>

    <span class="label label-success label-xs" ng-show="saved">Speichern erfolgreich</span>

    <br><br>

    <div ng-repeat="element in data.list"
         ng-class="elementClass">
        <div class="panel panel-default panel-xs shadow" ng-show="data.showAll || (!element.fromInternet && !element.showUstId)" style="margin-bottom: 10px;">
            <div class="panel-body" style="padding: 5px;" ng-class="{'bg-info': false}">
        <span class="text-primary" style="font-weight: bold" ng-click="">
            {{element.customer.name}} <span style="font-weight: normal">&nbsp;&nbsp;{{element.date | date:'dd-MM HH:mm'}}</span>
        </span>
                <button class="btn btn-white btn-xs" ng-click="_show = !_show" style="margin-left: 10px;">Detail</button>

                <span class="label label-danger pull-right" style="margin-right: 10px;cursor: pointer;" ng-click="data.list.splice($index,1); delete(element)" ng-show="data.login" ng-if="!element.fromInternet && !element.showUstId">Löschen</span>
                <span class="label label-primary pull-right" style="margin-right: 5px;" ng-click="printQuitung(element)">Rechnung ausdrücken</span>
                <span class="label pull-right" ng-class="{'label-danger':element.showUstId, 'label-primary':!element.showUstId}" style="margin-right: 5px;" ng-click="changeBewirtung(element)">{{element.showUstId?'Bewirtung':'keine Bewirtung'}}</span>

                <span class="label label-success pull-right" style="margin-right: 5px;">{{ element.status }}</span>
                <span class="label label-success pull-right" style="margin-right: 5px;">{{element.sumBrutto | currency}} Euro</span>



                <div ng-if="_show">
                    <hr >

                    <form class="cms-form form-horizontal">
                        <div ng-repeat="item in element.item">
                            <div class="row" style="margin-top: 10px;">
                                <div class="col-xs-6" style="padding-top: 6px;">
                                    <span class="text-violet" style="background-color: transparent;color: #555">{{ item.quantity }}  X  {{item.food.name}} ({{item.price | currency}})</span>
                                </div>
                                <!--<div class="col-xs-4">
                                    <input class="form-control" type="number" ng-model="item.quantity">
                                </div>
                                <div class="col-xs-2">
                                    <button class="btn btn-white btn-sm" ng-click="element.item.splice($index, 1)">Löschen</button>
                                </div>-->
                            </div>
                        </div>

                    </form>

                    <br>

                    <button class="cms-btn btn-outline btn btn-success btn-xs" style="display: none" ng-click="save(element)">Speichern</button>
                </div>

            </div>
        </div>
    </div>


</div>
