<form ng-submit="report()" novalidate class="form-horizontal">
    <div class="form-group">
        <div class="col-sm-3">
            <label>Type auswählen:</label>
            <selectize config="{valueField: 'title',labelField: 'title',maxItems:1}"
                       options="[{title:'Material'}, {title:'Artikel'}]"
                       ng-model="data.type"></selectize>
        </div>
        <div class="col-sm-3">
            <label>From:</label>
            <input type="date" class="form-control input-sm" ng-model="data.from"/>
        </div>
        <div class="col-sm-3">
            <label>To:</label>
            <input type="date" class="form-control input-sm" ng-model="data.to"/>
        </div>
        <div class="col-sm-3">
            <label>Monate:</label>
            <input type="month" class="form-control input-sm" ng-model="data.month"/>
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-12">
            <button class="btn btn-primary" type="submit">Rechnen</button>
            <button class="btn btn-primary" type="button" ng-click="data.detail = !data.detail">Detail</button>
            <button class="btn btn-primary pull-right" type="button" ng-click="serverFn.repair()">Repairieren</button>
        </div>
    </div>
</form>


<br><br>

<div class="row" ng-if="data.type === 'Artikel'">
    <div class="col-md-4" style="height: 700px;overflow-y: auto">
        <div ng-repeat="(groupName, group) in groups"
             ng-click="data.group = group; data.groupName = groupName"
             class="panel panel-default" style="margin-bottom: 10px;cursor: pointer">
            <div class="panel-body" ng-class="{'bg-info': data.groupName === groupName}">
                <span class="text-primary">{{groupName}}</span>
            </div>
        </div>
    </div>
    <div class="col-md-8" style="height: 700px;overflow-y: auto">
        <div class="panel panel-default" ng-if="data.groupName">
            <div class="panel-body">
                <div ng-repeat="food in data.group" ng-if="food.quantity > 0">
                    {{food.name}} : {{ food.quantity }}
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row" ng-if="data.type === 'Material'" style="padding: 20px;">
    <h4>Material:   </h4>
    <br>
    <div ng-repeat="material in materials" ng-if="material.quantity > 0">
        <span class="bg-success">{{ material.quantity }} {{ material.name }}</span>
        <br>
    </div>
</div>


